[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"flake8" = "*"
pytest = "*"
mock = "*"

[packages]
boto = "*"
pyyaml = "*"
six = "*"
reprint = "*"

[requires]
python_version = "2.7"
